body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    font-size: 32px;
    color: white;
}

.links {
    display: flex;
    gap: 25px;
}

.hero-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.hero-main {
    font-size: 32px;
    color: white;
    line-height: 5px;
}

.hero-secondary {
    color: #E5E7EB;
}

.hero-main, .hero-secondary {
    flex: 1;
}

.elaborative-photo {
    max-width: 600px;
    max-height: 300px;
    margin: 25px;
    flex: 1;

}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .header {
    font-size: 36px;
    color: #1F2937;
    padding-bottom: 15px;
}

.media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.snippets {
    border: 3px solid #3882F6;
    border-radius: 20%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction:  column;
    flex: 1;
}

.hero-container, .info, .quote {
    padding: 25px;
}

.text {
    font-size: 36px;
    font-style: italic;
    color: #1F2927;
    align-self: center;
}

.author {
    align-self: flex-end;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 5%;
    flex: 1;
    padding: 30px;
    margin: 50 200px;
    justify-content: space-around;
}
.blog-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #E5E7EB;
}

.blog-header {
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 20px;
}

.back-dark {
    background-color: #1F2937;
}

.bold {
    font-weight: 800;
}

.sub-text {
    font-size: 14px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    border-radius: 15%;
    padding: 10px 15px;
    text-align: center;
    color:#E5E7EB;
}

.sign-up {
    border: 2px solid white;
}

